@page "/"
@inject IDatiEventi datiEventi
@inject IJSRuntime JSRuntime

<h1>Hello, world!</h1>
<Welcome />
<ListaEventi Eventi="eventiFuturi" 
             OnRimuoviEvento="RimuoviEvento" 
             Titolo="Prossimi eventi"></ListaEventi>
<hr/>

<Modal Id="myModal" Title="Modale super importante" OnSave="Save">
    <ChildContent>
        <p>Questo è il contenuto della modale</p>
    </ChildContent>
</Modal>

<button @onclick="ApriModale">Apri Modale</button>
<button @onclick="ApriMappa">Apri Mappa</button>
<hr/>
<div style="margin-top:50px">
    <Map />
</div>


@code {
    private List<Evento> eventiFuturi = new();
    private HelloInterop? helloInterop;

    private void ApriModale()
    {
        JSRuntime.InvokeVoidAsync("showModal", "myModal");
    }

    private void Save()
    {

    }

    private void ApriMappa()
    {
        var mySettings = new MapSettings
            {
                Latitudine = 45.464664,
                Longitudine = 9.188540,
                Zoom = 15,
                Id = "map"
            };
        JSRuntime.InvokeVoidAsync("showMap", mySettings);
    }

    protected override async Task OnInitializedAsync()
    {
        eventiFuturi = datiEventi.EstraiEventiFuturi();  
        helloInterop = new HelloInterop(JSRuntime);
        await helloInterop.CallSayHello("Mario Rossi");
    }

    private void RimuoviEvento(Evento eventoDaEliminare)
    {
        eventiFuturi.Remove(eventoDaEliminare);
    }
}
