<h3>@Category?.Name</h3>
@if(Category != null)
{
    <EditForm Model="Category" OnValidSubmit="() => CategoryChanged.InvokeAsync(Category)">
        <DataAnnotationsValidator />

        @if (FormFields != null)
        {
            @FormFields
        }

        
        <div style="margin-top:15px">
            <button type="submit" class="btn btn-info">OK</button>
            <button type="button" @onclick="() => CategoryChanged.InvokeAsync(null)" class="btn btn-danger">Annulla </button>
        </div>
    </EditForm>
}


@code {
    [Parameter] 
    public CategoryDTO? Category { get; set; } 

    [Parameter]
    public EventCallback<CategoryDTO> CategoryChanged { get; set; } 

    [Parameter] public RenderFragment? FormFields { get; set; }
}
